<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="simulateur.biat.com.simulateurdecredit">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialAnimations">
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:screenOrientation="nosensor"></activity>
        <activity
            android:name=".ConstantDureeInputGatherer"
            android:label="@string/title_activity_seek_input"
            android:screenOrientation="nosensor"></activity>
        <activity
            android:name=".ShowResponse"
            android:label="@string/title_activity_show_response"
            android:screenOrientation="nosensor"></activity>
        <activity
            android:name=".splash"
            android:label="@string/app_name"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConstantMontantInputGatherer"
            android:label="@string/title_activity_constant_montant_input_gatherer"
            android:screenOrientation="nosensor"></activity>
        <activity
            android:name=".DegressifDureeInputGatherer"
            android:label="@string/title_activity_degressif_duree_input_gatherer"
            android:screenOrientation="nosensor"></activity>
        <activity android:name=".DegressifMontantInputGatherer"></activity>
    </application>

</manifest>